.fundo{
    background-image: url(./assents/Frame\ 2\ -\ 1.0.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;

}

.container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 40px;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 15px;
    gap: 30px;
    
}
li p{ 
    color:#115639
}

li a{
    color: #ffffff;
    background-color: #115639;
    margin-top: 20px;
    width: 20px;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;

}


.caixa-formulario{
    
    padding: 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.caixa-formulario h1{
    color: #115639;
    margin-bottom: 20px;
}
.campo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.campo input{
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #115639;
    color: #115639;
}
.campo label{
    color: #115639;
    font-family: sans-serif;
    margin: 15px 0px;
}

.caixa-formulario button{
    margin-top: 20px;
    width: 100px;
    background-color:#115639 ;
    color: #ffffff;
    padding: 10px 20px;
    font-weight: bold;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
.caixa-formulario button :hover{
    opacity: 0.9;
}

.footer{
    height: 30px;
    padding: 50px;
    background-color: #115639;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
  }
 
.footer ul {
    display: flex;
    list-style: none;
    margin-bottom: 50px;
  }

  .footer ul li {
    color: #fff;
    margin: 0px 15px;
    font-size: medium;
  }

  .footer ul li a {
    text-decoration: none;
    color: #fff;
  }

body{
    margin: 0px;
    
}