*{
    margin: 0;
}


.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.logo img{
    width: 200px;
}

ul {
    display: flex;
    width: 700px;
    justify-content: space-between;
    list-style: none;
    padding-left: 15px;
}

li {
    color: #e1e1e1;
}

.fundo {
    background-image: url("./images/Frame\ 1\ -\ 2.0.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0px;
}

.container1 {
    margin-top: -50px;
    padding: 70px ;
    height: 00px;
    display: flex;
    flex-direction: row;
}

.container1 b {
    font-size: 30px;
}

.fundo p {
    width: 600px;
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}



.container1 a{
    color: #e1e1e1;
    background-color: #115639;
    width: 20px;
    padding: 15px 45px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}

.um {
    font-family: Arial, Helvetica, sans-serif;
}
.container1 .tres{
    padding: 0 150px;
    width: 20px;
}
.container1 .imagem{
    padding-left: 100px;
}
.cadastro li a{
    color: #e1e1e1 ;
    cursor: pointer;
    text-decoration: none;
}

.login li a{
    color: #e1e1e1 ;
    cursor: pointer;
    text-decoration: none;
}

.quems li a{
    color: #e1e1e1;
    text-decoration: none;
    cursor: pointer;
}

.simulador li a {
    color: #e1e1e1;
    text-decoration: none;
    cursor: pointer;
}
.dashboard li a {
    color: #e1e1e1;
    text-decoration: none;
    cursor: pointer;
}
.projeto li a {
    color: #e1e1e1;
    text-decoration: none;
    cursor: pointer;
}
footer {
    padding: 45px 0;
    background-color: #115639;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}
footer {

    flex-direction: column;
}

footer p{
    color:#e1e1e1;
    font-size: 12px;
}
.contato {
    padding: 0px 0;
    display: flex;
    list-style: none;
    justify-content: center;
}
.frase {
    padding: 0 0px;
    display: flex;
    justify-content: center;
}
.endereco li a {
    color: #e1e1e1;
    text-decoration: none;
    cursor: pointer;
}
.contato li a {
    color: #e1e1e1;
    text-decoration: none;
    cursor: pointer;
}