*{
    margin: 0;
}


.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.logo img{
    width: 150px;
}

ul {
    display: flex;
    width: 700px;
    justify-content: space-between;
    list-style: none;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;

}

li {
    color: #ffffff;
}

.fundo {
    background-image: url("./img/Frame\ 1\ -\ 2.0.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0px;
}

.container1 {
    margin-top: -50px;
    padding: 70px ;
    height: 00px;
    display: flex;
    flex-direction: row;
}

.container1 b {
    font-size: 30px;
}

.fundo p {
    width: 600px;
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}



.container1 a{
    color: #ffffff;
    background-color: #115639;
    width: 20px;
    padding: 15px 45px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}

.um {
    font-family: Arial, Helvetica, sans-serif;
}
.container1 .tres{
    padding: 0 150px;
    width: 20px;
}
.container1 .imagem{
    padding-left: 100px;
}
.cadastro li a{
    color: #e1e1e1 ;
    cursor: pointer;
    text-decoration: none;
    background-color: #fff;
    color: #115639;
    padding: 10px 20px;
    border-radius: 20px;
}

.login li a{
    color: #e1e1e1 ;
    cursor: pointer;
    text-decoration: none;
    background-color: #fff;
    color: #115639;
    padding: 10px 20px;
    border-radius: 20px;

}

.quems li a{
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.simulador li a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.dashboard li a {
    color: #fffff;
    text-decoration: none;
    cursor: pointer;
}
.projeto li a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}


.footer{
    height: 30px;
    padding: 50px 0px;
    background-color: #115639;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
  }
  
  .footer ul {
    display: flex;
    list-style: none;
    margin-bottom: 50px;

  }
  
  .footer ul li {
    color: #fff;
    font-size: medium;
  }
  
  .footer ul li a {
    text-decoration: none;
    color: #fff;
    margin: 50px;
  }