*{
  margin: 0;
}


.container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.logo img{
  width: 150px;
}

ul {
  display: flex;
  width: 700px;
  justify-content: space-between;
  list-style: none;
  padding-left: 15px;
}

li {
  color: #e1e1e1;
}

.container ul li a{
  text-decoration: none;
}

.login li a{
  color: #115639 ;
  background-color: #FFFFFF;
  margin-top: 20px;
  width: 20px;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}

.home li a{
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.quems li a{
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;

}
.projeto li a {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.cad li a{
  color: #115639 ;
  background-color: #FFFFFF ;
  margin-top: 20px;
  width: 20px;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}

.simulador li a {
  color: #5eb160;
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  opacity: 0.9;
}

li:hover {
  transform: scale(1.2);
}


body {
  background-image: url("./img/Frame\ 1\ -\ 2.0.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0px;
}

/* SIMULADOR */

.conteiner {
  text-align: center;
  font-family: sans-serif;
  background-color: #edf0ece3;
  padding: 40px 50px;
  margin: 57px 230px;
  border-radius: 30px;
}

h1{
  color: #115639;
  margin-bottom: 25px;
}

input {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #115639;
  color: black;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  color: #fff;
  background-color: #115639;
  font-weight: bold;
  cursor: pointer;
}

button:hover{
  opacity: 0.9;
}

#div_resul {
  text-align: center;
  font-family: sans-serif;
  background-color: #e2e9dfe3;
  padding: 40px 50px;
  margin: 50px 230px;
  border-radius: 30px;
  line-height: 1.3;
}

.resul {
  font-family: Arial, Helvetica, sans-serif;
}

#div_resul a{
  text-decoration: none;
  font-size:small;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  color: #fff;
  background-color: #115639;
  cursor: pointer;
}

/* FOOTER */
.footer{
  height: 30px;
  padding: 60px 0px;
  background-color: #115639;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.footer ul {
  display: flex;
  list-style: none;
  margin-bottom: 50px;
  margin-top: 20px;
  justify-content: center;

}

.footer ul li {
  color: #fff;
  font-size: medium;
}

.footer ul li a {
  text-decoration: none;
  color: #fff;
  margin: 50px;
}