#conteiner {
  text-align: center;
  font-family: sans-serif;
  background-color: #e2e9dfe3;
  padding: 40px 50px;
  margin: 50px 230px;
  border-radius: 30px;
}

body{
  background-image: url("./assents/QUEM\ SOMOS\ -\ 1.0.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
}

h1{
  color: #041b49;
}

input {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #6fff31;
  color: black;
}

button {
  padding: 5px 10px;
  border-radius: 10px;
  color: #fff;
  background-color: #041b49;
  font-weight: bold;
  cursor: pointer;
}

button:hover{
  opacity: 0.9;
}

#div_resul {
  text-align: center;
  font-family: sans-serif;
  background-color: #e2e9dfe3;
  padding: 40px 50px;
  margin: 50px 230px;
  border-radius: 30px;
}

.resul {
  font-family: Arial, Helvetica, sans-serif;

}

