*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  


.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

.logo{
    padding: 15px ;
}

.logo img{
    width: 200px;
}



li {
    color: #115639;
}

.fundo {
    background-image: url("./assents/2.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.container1 {
    padding: 60px ;
    display: flex;
    height: 1000px;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.fundo p {
    width: 700px;
    color: #ffffff;
    font-size: 45px;
}

.linavbar a{
    color: #ffffff ;
    background-color: #115639;
    margin-top: 20px;
    width: 20px;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}


