* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.fundo {
    background-color: #ffffff;
    margin-top: 20px 0px;
    display: flex;
    flex-direction: row;

}

/* MENU LATERAL */

.menulateral {
    background-color: #115639;
    padding: 10px;
    width: 190px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.menulateral ul {
    width: 100%;
    margin-right: 100px;
    margin-left: 0px;
}

.menulateral ul li {
    text-decoration: none;
    list-style: none;
    margin: 5px;
    color: #fff;
    width: 100%;
    transition: all 0.8s;
}

.menulateral ul li a {
    text-decoration: none;
    color: #fff;
    width: 50px;
    display: flex;
    margin-left: 0px;
}

span {
    margin: 10px;
}

/* QUANDO MOUSE ESTIVER EM CIMA */
.menulateral ul li:hover {
    background: #fff;
    border-radius: 10px;
    color: #115639;
}

.menulateral ul li:hover a {
    color: #115639;
}

div #img_logo {
    display: flex;
    justify-items: flex-end;

}

/* DASHBOARD */
.dashboard {
    margin-top: 20px 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 15vh;
}

/* GRAFICOS */
.container {
    margin: 0 auto;
    justify-content: space-between;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
}

.caixa {
    margin: 20px;
    display: flex;
    align-items: center;
    width: 200px;
    box-shadow: 0 7px 10px #005252;
    border-radius: 10px;
}

#caixa {
    border-radius: 20px;
    background-color: #edf0edc3;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    margin: 10px 20px 10px;
    height: 47vh;
    box-shadow: 0 7px 10px #005252;
}

.grafico {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 10px;
}

.grafico #slc_id, #slc_id2, #slc_id3 {
    text-align: center;
}

#legenda {
    margin: 10px;
    margin-top: -2px;
    text-align: center;
    color: black;
    font-weight: bold;
}

#grafics {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    border-radius: 5px;
}

canvas {
    position: relative;
    height: 40vh;
    width: 40vw;
}

#myChart {
    background-color: white;
    border-radius: 5px;
    width: 400px;
}

#myChart2 {
    background-color: white;
    border-radius: 5px;
    width: 400px;
}

/* KPIS */

#kpi {
    display: flex;
    flex-direction: column;
}

.container2 {
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.title {
    color: #115639;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

.analise {
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.box {
    width: 200px;
    height: 200px;
    background-color: #edf0edc3;
    border-radius: 10px;
    padding: 15px;

}

.description {
    color: black;
    text-align: center;
    font-weight: bold;
}

/* KPI 3 */
.box3 {
    background: linear-gradient(90deg, rgba(0, 0, 255) 0%, rgb(0, 183, 255) 25%, rgba(11, 180, 49, 1) 50%, rgba(255, 162, 0, 1) 75%, rgba(255, 0, 0, 1) 100%);
    border-radius: 10px;
    margin: 20px;
    width: 200px;
    padding: 20px;
    text-align: center;
}

.container3 {
    background-color: #edf0edc3;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    margin: 20px;
    padding: 15px;
    text-align: center;
    color: black;
    font-weight: bold;
    box-shadow: 0 7px 10px #115639;
}

.title5 {
    color: white;
    font-size: medium;
    font-weight: 500;
    width: 550px;
    margin: 10px;
    padding: 10px;
}

.menulateral ul {
    padding-inline-start: 0%;
}

#p_legenda {
    max-width: 480px;
    text-align: center;
    font-weight: bold;
}