*{
    margin: 0;
  }
.fundo{
    background-image: url(./assents/Frame\ 2\ -\ 1.0.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0px;

}

.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.logo img{
    width: 150px;
}

ul {
    display: flex;
    width: 700px;
    justify-content: space-between;
    list-style: none;
    padding-left: 15px;
}

li {
    color: #e1e1e1;
}

a:hover{
    opacity: 0.9;
  }


.container1 {
    display: flex;
    margin-top: 0px;
    padding: 85px ;
   /* height: 00px;*/
   font-family: Arial, Helvetica, sans-serif;
   align-items: center;
   justify-content: center;
   
  
}


.caixa-formulario{
    padding: 30px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #edf0ece3;
    box-shadow: 0 7px 10px #115639;
    border-radius: 30px;
    

    
}
.caixa-formulario h1{
    color: #115639;
    margin-bottom: 0px;
    
}

.campo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.campo input{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #115639;
    color: black;
}
.campo label{
    color: black;
    font-family: sans-serif;
    margin: 15px 0px;
}

.caixa-formulario button{
    margin-top: 20px;
    width: 100px;
    background-color:#115639 ;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
    border:none;
    border-radius: 20px;
    cursor: pointer;
}
.caixa-formulario button :hover{
    opacity: 0.9;
}
.cad li a{
    color: #FFFFFF ;
    background-color: #115639;
    margin-top: 20px;
    width: 20px;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

.login li a{
    color: #FFFFFF ;
    background-color: #5eb160;
    margin-top: 20px;
    width: 20px;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

.home li a{
    color: #115639;
    text-decoration: none;
    cursor: pointer;
}

.quems li a{
    color: #115639;
    text-decoration: none;
    cursor: pointer;
}

.simulador li a {
    color: #115639;
    text-decoration: none;
    cursor: pointer;
}

.projeto li a {
    color: #115639;
    text-decoration: none;
    cursor: pointer;
}
.footer{
    height: 30px;
    padding: 50px 0px;
    background-color: #115639;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
  }
  
  .footer ul {
    display: flex;
    list-style: none;
    margin-bottom: 50px;
    justify-content: center;
    margin-top: 20px;

  }
  
  .footer ul li {
    color: #fff;
    font-size: medium;
  }
  
  .footer ul li a {
    text-decoration: none;
    color: #fff;
    margin: 50px;
  }

body{
    margin: 0px;
    
}

-- FORMULARIO --

.banner #div_erros_login {
    margin-top: 15px;
  }
  
.alerta_erro{
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    margin-left: 300px;
    display: none;
    background-color: rgb(255, 255, 255);
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #115639 3px solid;
    padding: 10px;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }

.loading-div {
    width: 50px;
    margin: auto;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }



